body {
	background-color: #e1e7d3;
}
.marco {
    width: 255px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    margin-top: 15%;
}

.base {
	background-color: #a4978e;
	position: absolute;
}

.marco-pie {
	position: absolute;
	background-color: #e1e7d3;
	z-index: 100;
}

.cabeza {
	top: 59px;
	width: 127px;
	height: 80px;
    margin-left: -63px;	
    left: 50%;
	border-radius: 100px / 60px;
}

.cuerpo {
	top: 172px;
	width: 220px;
	height: 225px;
	margin-left: -110px; 
	left: 50%;
	border-radius: 110px;
}
.cuerpo-vert {
	top: 107px;
	width:  137px;;
	height: 60px;
	margin-left: -70px;	
	left: 50%;

}
.cuerpo-horiz {
	top: 163px;
	width: 194px;
	height:63px;
	margin-left: -97px;	left: 50%;
}

.forma-brazo {
	top:192px;
	width:38px;
	height: 104px;
	border-radius: 40px / 100px;
}
.izquierda {left: 0;}
.derecha {right: 0;}

.cuerpo-brazo {
	top:83px;
	width: 35px;
	height: 131px;
}
.rotar-izquieda {
	left: 37px;
	transform: rotate(27deg);
}
.rotar-derecha {
	right: 36px;
	transform: rotate(333deg);
}

.oreja-izquierda {
	top: 55px;
	left: 80px;
	width: 9px;
	height: 25px;
	transform: rotate(348deg);
}

.oreja-derecha {
	top: 50px;
	right: 86px;
	width: 9px;
	height: 25px;
	transform: rotate(5deg);
}


.cuerpo-oreja-izquierda {
	width: 0; height: 0;
	border: 15px solid transparent;
	border-bottom: 41px solid #a4978e;
	position: relative;
	left: 61px;	
	top: -4px;
	transform: rotate(350deg);
}

.cuerpo-oreja-izquierda:after {
	content: '';
	position: absolute;
	left: -16px; 
	top: 39px;
	border: 15px solid transparent;
	border-top: 10px solid #a4978e;
}

.cuerpo-oreja-derecha {
	width: 0; height: 0;
	border: 15px solid transparent;
	border-bottom: 41px solid #a4978e;
	position: relative;
	right: -152px;	
	top: -64px;
	transform: rotate(3deg);
}

.cuerpo-oreja-derecha:after {
	content: '';
	position: absolute;
	right: -14px; 
	top: 39px;
	border: 15px solid transparent;
	border-top: 10px solid #a4978e;
}

.forma-del-ojo {
	top: 95px;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    position: absolute;
    background-color: #fcfcfc;
}

.eyeleft {
	left: 73px;
}
.eyeright {
	right: 74px;
	top: 94px;
}
.nariz {
	top: 106px;
	width: 30px;
	height: 10px;
	margin-left: -15px;	
	left: 50%;
	border-radius: 20px / 7px;
	position: absolute;
	background-color: #5f5852;
}

.estomago-principal {
	top: 157px;
	width: 200px;
	height: 214px;
	margin-left: -100px;	
	left: 50%;
	border-radius: 100px / 107px;
	position: absolute;
	background-color: #efdccb;
}

.pupila {
	width: 9px;
	height:9px;
	top: 103px;
	border-radius: 9px;
	position: absolute;
	background-color: #5a534e;
}

.pupila-izquierda {
	left: 80px;
}

.pupila-derecha {
	right: 82px;
	top:102px;
}

.diseño-estomago {
	position: absolute;
	width: 30px;
	height: 14px;
	border-radius: 100px / 50px;
	background-color: #89775a;
}
.diseño-estomago:after {
	content: '';
	position: absolute;
	top: 4px; 
	left: -7px;
	width: 44px;
	height: 30px;
	border-radius: 100px / 80px;
	background-color: #efdccb;
}

.marca-estomago1 {
	top: 185px;
	left: 73px;
	transform: rotate(350deg);
}

.marca-estomago2 {
	top: 180px;
	left: 113px;
}

.marca-estomago3 {
	top: 185px;
	left: 153px;
	transform: rotate(8deg);	
}

.marca-estomago4 {
	top: 215px;
	left: 51px;
	transform: rotate(345deg);
}

.marca-estomago5 {
	top: 209px;
	left: 91px;
}

.marca-estomago6 {
	top: 209px;
	left: 131px;
}

.marca-estomago7 {
	top: 215px;
	left: 171px;
	transform: rotate(9deg);
}

.flatfeet {
	top: 384px;
    width: 115px;
    height: 25px;
    margin-left: -60px;
    left: 50%;
}

.splitfeet {
	top: 378px;
	width: 8px;
	height: 18px;
	margin-left: -4px;	
	left: 50%;
	transform: rotate(45deg);
}

a:hover {
	color: #5f5852;
}