body {
	background-color: #e1e7d3;
}
.wrap {
    width: 255px;
    height: 510px;
    display:block;
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
}

.base {
	background-color: #a4978e;
	position: absolute;
}

.trim {
	position: absolute;
	background-color: #e1e7d3;
	z-index: 100;
}

.cabeza {
	top: 59px;
	width: 127px;
	height: 80px;
    margin-left: -63px;	
    left: 50%;
	border-radius: 100px / 60px;
}

.cuerpo {
	top: 172px;
	width: 220px;
	height: 225px;
	margin-left: -110px; left: 50%;
	border-radius: 110px;
	z-index: 1;
}
.cuerpovert {
	top: 107px;
	width: 130px;
	height: 56px;
	margin-left: -65px;	left: 50%;
	z-index: 2;

}
.cuerpohoriz {
	top: 163px;
	width: 194px;
	height:63px;
	margin-left: -97px;	left: 50%;
	z-index: 2;
}

.formabrazo {
	top:192px;
	width:38px;
	height: 104px;
	border-radius: 40px / 100px;
	z-index: 3;
}
.izquierda {left: 0;}
.derecha {right: 0;}

.arm {
	top:83px;
	width: 35px;
	height: 131px;
	z-index: 4;
}
.rotateleft {
	left: 37px;
	transform:         rotate(27deg);
}
.rotateright {
	right: 36px;
	transform:         rotate(333deg);
}

.earstemleft {
	top: 55px;
	left: 80px;
	width: 9px;
	height: 25px;
	z-index: 4;
	transform:         rotate(348deg);
}

.earstemright {
	top: 50px;
	right: 86px;
	width: 9px;
	height: 25px;
	z-index: 4;
	transform:         rotate(5deg);
}


.ear-left {
	width: 0; height: 0;
	border: 15px solid transparent;
	border-bottom: 41px solid #a4978e;
	position: relative;
	left: 61px;	top: -4px;
	transform:         rotate(350deg);
	z-index: 5;
}

.ear-left:after {
	content: '';
	position: absolute;
	left: -16px; top: 39px;
	width: 0;height: 0;
	border: 15px solid transparent;
	border-top: 10px solid #a4978e;
}

.ear-right {
	width: 0; height: 0;
	border: 15px solid transparent;
	border-bottom: 41px solid #a4978e;
	position: relative;
	right: -152px;	top: -64px;
	transform: rotate(3deg);
	z-index: 5;
}

.ear-right:after {
	content: '';
	position: absolute;
	right: -14px; top: 39px;
	width: 0;height: 0;
	border: 15px solid transparent;
	border-top: 10px solid #a4978e;
}

.eye {
	top: 95px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	z-index: 6;
	position: absolute;
	background-color: #fcfcfc;
}

.eyeleft {
	left: 73px;
}
.eyeright {
	right: 74px;
	top: 94px;
}
.nose {
	top: 106px;
	width: 30px;
	height: 10px;
	margin-left: -15px;	left: 50%;
	border-radius: 20px / 7px;
	z-index: 6;
	position: absolute;
	background-color: #5f5852;
}

.bellybacker {
	top: 157px;
	width: 200px;
	height: 214px;
	margin-left: -100px;	left: 50%;
	border-radius: 100px / 107px;
	z-index: 6;
	position: absolute;
	background-color: #efdccb;
}

.pupil {
	width: 9px;
	height:9px;
	top: 103px;
	border-radius: 9px;
	position: absolute;
	background-color: #5a534e;
	z-index: 7;
}

.pupilleft {
	left: 80px;
}

.pupilright {
	right: 82px;
	top:102px;
}

.marking {
	position: absolute;
	width: 30px;
	height: 14px;
	border-radius: 100px / 50px;
	background-color: #89775a;
	z-index: 7;
}
.marking:after {
	content: '';
	position: absolute;
	top: 4px; left: -7px;
	width: 44px;
	height: 30px;
	border-radius: 100px / 80px;
	background-color: #efdccb;
}

.mark1 {
	top: 185px;
	left: 73px;
	transform: rotate(350deg);
}

.mark2 {
	top: 180px;
	left: 113px;
}

.mark3 {
	top: 185px;
	left: 153px;
	transform: rotate(8deg);	
}

.mark4 {
	top: 215px;
	left: 51px;
	transform: rotate(345deg);
}

.mark5 {
	top: 209px;
	left: 91px;
}

.mark6 {
	top: 209px;
	left: 131px;
}

.mark7 {
	top: 215px;
	left: 171px;
	transform: rotate(9deg);
}



.flatfeet {
	top: 381px;
	width: 124px;
	height: 20px;
	margin-left: -62px;	left: 50%;
}

.splitfeet {
	top: 378px;
	width: 8px;
	height: 18px;
	margin-left: -4px;	left: 50%;
	transform: rotate(45deg);
}

a:hover {
	color: #5f5852;
}